.carrousel {
    position: absolute;
    width: 75vw;
    height: 75vh;
    left: 12.5vw;
    top: 12.5vh;
    background-color: bisque;
    transform: scale(0);
    transition: transform 1s;
} 

.carrousel--ouvrir{
    transform: scale(1);
    opacity: 1;
}

.btn_fermer {
    display: flex;
    align-items: center;
    
}

.carrousel__figure{
    position: relative;
    width: 100%;
    height: 100%;
}

.carrousel__figure__img{
    position: absolute;
    display: block;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.carrousel__form{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 4;
}